* {
    margin: 0%;
    padding: 0%;
    
}
table { width: 100%;
    height: 100vh;
    background-color: black;
    
   

}
td { width: 6%;}
#linhaum { height: 75px;}

.barrasuperior {
    background-color: #532D63;
}

.btn {
    background-color: #9b50d1;
    color: white;
    padding: 1em;
    border-radius:30px ;
    text-decoration: none;
  }

  .imagem {
    width: 30%;
    height: 30vh;
    text-align: center;
}



  .p {
    color: #532D63;  
    font-size: 45px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-shadow: 2px 4px 5px  #532D63;
 }

 .what 
     {
        color: white;  
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif; 
     }
   .roxo {
    color: #532D63;  
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif; 
   }

   .log {
    width:4% ;
    height: 6%; 
     color: #532D63;    }
    

     .logo { vertical-align: top;}

     .bottom 
     {
        
        position: absolute;
        background-color: white;
        color: white;
        padding: 1em;
        border-radius: 100px;
        text-decoration: none;
        width: 111px;}

        .r {
            color: #8E24AA;  
            font-size: 15px;
         }

         .w
         {
            color: white;  
            font-size: 15px; }
