.image-container{
    height: 1000px;
    width: 1500%;
 }
 .overlay-text
 {
    text-align: center;
    font: 1em sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    
 }

 body{
    background-image: url(segunda.png);
    background-size: cover;
    background-repeat: no-repeat;
 }
 .palavra {
   color: #B047CB;
   font-weight: bolder;
 }

 #linhaum { height: 75px;}

.barrasuperior {
    background-color: #532D63;
}
.btn {
   background-color: #9b50d1;
   color: white;
   padding: 1em;
   border-radius:30px ;
   text-decoration: none; }  

   
   .arrendondar {
      background-color:#9b50d1 ;
      width: 10%;
      height: 5vh;
      border-radius: 30px;
   
   }

   
 


